@media (min-width: 42.8em ) {
	body {
		font-size:1em;
	}
	.ak-section{
		padding-left: 7em;
	}
	.ak-bar{
		position:fixed;
		top:1rem;
		right: 1rem;
	}
	.ak-message{
		margin-left:0;
		flex-flow: row;
	}
	.ak-wrapper-text {
		padding-left: .5em;
		vertical-align: top;
	}
	.ak-btn-toggle + label{
		display: none;
	}
	.ak-btn-toggle:not(:checked) ~ nav {
		transform:none;
	}
	.ak-main-header{
		flex-flow:column;
		bottom: auto;
		right: auto;
		margin:1em;
		width: auto;
	}
	.ak-main-header h1{
		width: 5rem;
	}

	.ak-main-header nav{
		display: flex;
		flex-flow:column;
	}

	.ak-menu-sep{
		display: block;
	}

	.ak-main-nav .ak-menu-sep{
		fill:var(--blanc);
	}
	.ak-social-nav .ak-menu-sep{
		fill:var(--l-brown);
	}
	.ak-main-header a{
		text-decoration: none;
		text-align: center;
	}
	.ak-main-nav a{
		background:var(--blanc);
	}

	.ak-item__label{
		position:absolute;
		margin:.5rem 0 0 1rem;
		left: 100%;
		right:auto;
		transform:translate( -100vw, 0);
	}
	h1 .ak-item__label{	
		display: block;
	}
	.ak-item__label:before{
		left:-.25rem;
	}
	
	.ak-item .icn{
		/* desactive la propagation des evenement dans le SVGdom des icones*/
		height:3em;
		width:3em;
		padding: 0;
	}
	.ak-main-nav{
		padding-top:1.8em; 
	}
	.ak-social-nav{
		padding-top:2em;
	}
	.ak-form label{
		display:inline-block;
		width:calc(50% - .5em);
	}
	.ak-form input {
		width:calc(50% - .5em);
	}

	.ak-projet__wrapper{
		flex-flow: row;	
		height: 100%;
	}
	.ak-projet__gallery{
		overflow:hidden;
	}
	.ak-projet__nav--slide{
		right: 0;
  		bottom: 0;
  		top: inherit;
	}
}

@media (min-width: 52.5em) {
	.ak-wrapper-contact {
		flex-flow:row;
	}
	.ak-wrapper-contact > div{
		width:calc(50% - .5em);
	}
	.ak-wrapper-cv {
		columns:2;
	}
	
	.ak-section-formations .ak-message-thumb,
	.ak-section-contact .ak-message-thumb{
		width:5em;
	}
}

@media (min-width: 68.75em) {
	
	.ak-section-formations .ak-message-thumb,
	.ak-section-contact .ak-message-thumb{
		width:10em;
	}
}